<a href="{{ path('addStudent') }}">Add Student</a>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Enabled</td>
        <td>Level</td>
        <td>Classroom</td>
        <td>Actions</td>

    </tr>
    {% for s in tabStudents %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.firstName }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.enbaled }}</td>
            <td>{{ s.level }}</td>
            <td>{{ s.classroom }}</td>
            <td><a href="#">Update</a>
                <a href="{{ path('deleteStudent',{'id':s.id}) }}">Remove</a>
                <a href="{{ path('showStudent',{'id':s.id}) }}">show</a>
            </td>
        </tr>
    {% endfor %}
</table><br>



<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Enabled</td>
        <td>Level</td>
        <td>Classroom</td>
        <td>Actions</td>

    </tr>
    {% for s in triStudent %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.firstName }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.enbaled }}</td>
            <td>{{ s.level }}</td>
            <td>{{ s.classroom }}</td>
            <td><a href="#">Update</a>
                <a href="{{ path('deleteStudent',{'id':s.id}) }}">Remove</a>
                <a href="{{ path('showStudent',{'id':s.id}) }}">show</a>
            </td>
        </tr>
    {% endfor %}
</table>


<br>



<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Enabled</td>
        <td>Level</td>
        <td>Classroom</td>
        <td>Actions</td>

    </tr>
    {% for s in enabledS %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.firstName }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.enbaled }}</td>
            <td>{{ s.level }}</td>
            <td>{{ s.classroom }}</td>
            <td><a href="#">Update</a>
                <a href="{{ path('deleteStudent',{'id':s.id}) }}">Remove</a>
                <a href="{{ path('showStudent',{'id':s.id}) }}">show</a>
            </td>
        </tr>
    {% endfor %}
</table>