
<a href="{{ path('addClub') }}">add club</a><br>
{% for club in tabClub %}
    id{{ club.id }}
     name:{{ club.name }}
    Description: {{ club.description }}


    <a href="{{ path('showClub',{'id':club.id}) }}">show more</a>
    <a href="{{ path('removeClub',{'id':club.id}) }}">delete club</a>
    <br>
{%  endfor %}